
/* Sec- logo */
.sec-cuisine .cuisine-main .cuisine-body::-webkit-scrollbar {
    width: 10px;
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.sec-cusine .cuisine-main .cuisine-body::-webkit-scrollbar-thumb {
    background:transparent;  /* Optional: just make scrollbar invisible */
}

.sec-cuisine .cuisine-main .cuisine-body .cuisine-sub-body::-webkit-scrollbar {
    width: 0px;
    background: transparent;  /* Optional: just make scrollbar invisible */
}

.sec-cuisine .cuisine-main .cuisine-body .cuisine-sub-body ::-webkit-scrollbar {
    width: 0px;
    background: transparent;  /* Optional: just make scrollbar invisible */
}
.sec-cuisine .cuisine-main{
    height: 95vh;
}
.sec-cuisine .cuisine-main .left {
    height: 100vh;
}   

.sec-cuisine .cuisine-main .cuisine-body{
     height: 100%; 
     overflow: auto; 
     white-space: nowrap; 
     display: inline-block;
}

.sec-cuisine .cuisine-main div{
    overflow-x: hidden;
}

.sec-cuisine .cuisine-main .cuisine-body .cuisine-sub-body{
    display: inline-block; 
    vertical-align: top;
    scroll-behavior: smooth; 
    height: 80%;
}


.sec-cuisine .cuisine-main .cuisine-body .cuisine-sub-body .container-fluid{
     height: 100%;
}

#breakfast {
    overflow-y: hidden;
    height: 100%;
    display: inline-block;
}


.cuisine-style{
    color: #697F32;
}

.cuisine-style:hover{
    color: #F7F7F7;
    background-color: #697F32;
}

.border-text{
    border-style: solid; 
    border-width: 2px ;
    padding: 5px;
    padding-left: 15px; 
    padding-right: 15px; 
    border-radius: 20px;
}